.ProseMirror * {
  transition: background 0.3s ease;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: var(--outlinegray);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}


.ProseMirror:focus {
  outline: none;
}

span[data-time] {
  padding: 0.15em 0.3em;
  border-radius: 5px;
  position: relative;
  white-space: nowrap;
}

span[data-time].highlight {
  background: #ff3333bb !important;  
  transition: background 0.3s ease;
}

span[data-time]::after {
  visibility: hidden;
  opacity: 0;
  content: attr(locale-string);
  position: absolute;
  bottom: 100%;
  left: 0;
  background: var(--light);
  padding: 0.15em 0.3em;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid var(--outlinegray);
  white-space: nowrap;
  overflow-x: visible;
  transition: opacity 0.3s ease;
}

span[data-time]:hover::after {
  opacity: 1;
  visibility: visible;
}

.has-focus {
  border-radius: 5px;
  background: var(--lightgray);
}

.newline-handle {
  padding: 1em 0;
  opacity: 0.1;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.newline-handle:hover {
  opacity: 0.8;
}


