.settings-item {
  margin: 2em 2em 2em 0;
  min-width: 30px;
}

.settings-item, .settings-item * {
  cursor: pointer;
}

.settings-bar {
  display: flex;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.settings-item svg {
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.settings-item svg:hover {
  opacity: 1;
}

.helpbutton svg {
  fill: var(--gray);
  width: 24px;
  height: 30px;
}

.darkmode svg {
  position: absolute;
  width: 24px;
  height: 24px;
  top: calc(50% - 13px);
  fill: var(--gray);
}
